
<%- include("header") %>
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-header">
                                        <strong>Editsubcategory</strong> Details
                                    </div>
                                    <div class="card-body card-block">
                                        <form action="/admin/sub_category/update_subcategory" method="post" enctype="multipart/form-data" class="form-horizontal">
                                            <input type="hidden" value="<%= subdata.id %>" name="EditId">
                                            
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="select" class=" form-control-label">Select category</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <select name="category_id" id="select" class="form-control">
                                                        <option>-- select category --</option>
                                                        <% catedata.map((v)=>{ %>
                                                            <option value="<%= v.id %>" <%if(v.id== subdata.category_id.id){%>
                                                                <%= "selected" %>
                                                                <%}%>
                                                                    >
                                                                    <%= v.category_name %>
                                                            </option>
                                                            <% }) %>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="text-input" class=" form-control-label">title</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="text" id="text-input" name="title" placeholder="Enter title" class="form-control" value="<%= subdata.title %>">
                                                </div>
                                            </div>
                                           
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="textarea-input" class=" form-control-label">Description</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <textarea name="description" id="textarea-input" rows="3" placeholder="Description..." class="form-control"><%= subdata.description %></textarea>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="file-input" class=" form-control-label">Upload Image</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="file" id="file-input" name="recent_image" class="form-control-file">
                                                    <img src="<%= subdata.sub_category_image %>" alt="" height="100px">
                                                </div>
                                            </div>

                                            <!-- <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="file-multiple-input" class=" form-control-label">Multiple File input</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="file" id="file-multiple-input" name="file-multiple-input" multiple="" class="form-control-file">
                                                </div>
                                            </div> -->
                                            
                                        
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary btn-sm">
                                            <i class="fa fa-dot-circle-o"></i>Edit
                                        </button>
                                        <button type="reset" class="btn btn-danger btn-sm">
                                            <i class="fa fa-ban"></i> Reset
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <%- include("footer") %>
                       